<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Submissions</title>
</head>
<body>
  {{>nav}}
  <main class="main">
    <div class="submit_container">
      {{#each data}}
      <div class="submit_list" id={{this._id}}>
        <div class="submit_info">{{this.userId.username}}</div>
        <div class="submit_info">{{this.category}}</div>
        <div class="submit_score">{{this.score}}</div>
        <div class="submit_date">{{this.submit_date}}</div>
      </div>
      {{/each}}
    </div>
  </main>
  <script>
    $(document).ready(function () {
      $('.submit_list').on('click', (e) => {
        let submitId = e.target.parentElement.id
        window.location = `/quiz/result/${submitId}`
      })
    })
  </script>
</body>
</html>